<div class="container">
    <h2>Add Workout</h2>
    <form>
      <div class="form-group">
        <label for="workoutName">Name:</label>
        <input type="text" id="workoutName" [(ngModel)]="workoutName" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="workoutType">Workout Type:</label>
        <input type="text" id="workoutType" [(ngModel)]="workoutType" class="form-control" required>
      </div>
  
      <div class="form-group">
        <label for="workoutMinutes">Minutes:</label>
        <input type="number" id="workoutMinutes" [(ngModel)]="workoutMinutes" class="form-control" required>
      </div>
  
      <button type="button" (click)="addWorkout()" class="btn btn-primary">Add Workout</button>
    </form>
  </div>
  